# Ignore the Git files
.git
.gitignore

# Ignore IDE files
.idea
.DS_Store

# Ignore build artifacts (the binary and any temporary files)
chat-service
tmp
vendor

# Ignore other files you don't need in the final image
*.swp